.not-done-style{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
    display: inline-block;
}

.in-progress-style{
    border: 2px solid green;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    margin-top: 10px;
    display: inline-block;
}

button{

    text-decoration: none;
    background-color: deepskyblue;
    color: white;
    padding: 5px;
    margin: 2px;
    border: 2px none;
}

.completed-style{
    margin-top: 10px;
    border: 2px solid green;
    border-radius: 10px;
    display: inline-block;
}

.tasksBoard{
    display: flex;
    display: -webkit-flex;
    width: 100%;
    flex-direction: row-reverse;
}

.taskLists{
    -webkit-flex: 1;
    flex: 1;
}

.taskTracker{
    text-align: center;
    font-size: x-large;
    padding: 5px;
    color: white;
    background-color: deepskyblue;
}