.not-done-style{
    background-color: rebeccapurple;
}

.in-progress-style{
    background-color: blueviolet;
}

button{
    border: none;
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 5px;
    margin: 2px;
}

.completed-style{
    background-color: green;
}

.tasksBoard{
    display: flex;
    display: -webkit-flex;
    width: 100%;
    flex-direction: row-reverse;
}

.taskLists{
    -webkit-flex: 1;
    flex: 1;
}